.project
.classpath
.pydevproject
.externalToolBuilders/
.sconsign.dblite
ajngen
ajgen
bin
*.jar
*.pyc
*.bak
src/tl/*.py
!src/tl/GenTL.py
!src/tl/__init__.py
src/android/*.py
!src/android/GenAndroid.py
!src/android/__init__.py
src/ddcpp/*.py
!src/ddcpp/GenCPP.py
!src/ddcpp/__init__.py
build
dist
MANIFEST
tmp
