[project]
	description = Code Generator
	state = read only
[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group dt-codegen
[access "refs/heads/*"]
	abandon = group dt-codegen
	create = group dt-codegen
	forgeAuthor = group dt-codegen
	label-Code-Review = -2..+2 group dt-codegen
	removeReviewer = group dt-codegen
	submit = group dt-codegen
	editTopicName = group dt-codegen
[access "refs/meta/config"]
	read = group dt-codegen
[access "refs/tags/*"]
	pushTag = group dt-codegen
	pushSignedTag = group dt-codegen
[access "refs/*"]
	read = group GitHub Replication
[access "refs/for/*"]
	pushMerge = group dt-codegen
[access "refs/for/refs/heads/*"]
	push = group dt-codegen
