###############################################################################
## Copyright AllSeen Alliance. All rights reserved.
##
## Permission to use, copy, modify, and/or distribute this software for any
## purpose with or without fee is hereby granted, provided that the above
## copyright notice and this permission notice appear in all copies.
##
## THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
## WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
## MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
## ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
## WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
## ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
## OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
###############################################################################
# Source: "$command_line.xml_input_file"

#raw
import platform

env = Environment()

env.Append(LIBPATH = 'lib')
env.Prepend(LIBS = 'ajtcl')
env.Append(CPPPATH = [ 'include' ])
env.Append(CPPDEFINES = [ 'AJ_MAIN' ])

if platform.system() == 'Windows':
    env.Append(LIBS = ['advapi32'])
elif platform.system() == 'Linux':
    env.Append(LIBS = ['rt', 'pthread'])
#end raw

#for $e in $executables
source_list = [
    #for $s in $e.sources
               '$s',
    #end for
              ]
env.Program('$e.name', source_list)

#end for
