###############################################################################
## Copyright AllSeen Alliance. All rights reserved.
##
## Permission to use, copy, modify, and/or distribute this software for any
## purpose with or without fee is hereby granted, provided that the above
## copyright notice and this permission notice appear in all copies.
##
## THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
## WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
## MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
## ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
## WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
## ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
## OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
###############################################################################

#import GenCPP
#import Util as u
/* Source: "$command_line.xml_input_file" */

\#include "${interface.prov_class}.h"
## Keep this after the generated header file since it might need un/marshal
## function declarations.
\#include <datadriven/Marshal.h>

namespace gen { namespace ${interface.get_full_coded_path} {

${interface.prov_class}::${interface.prov_class}(datadriven::ProvidedObject* obj) :
    ProvidedInterface(Type::GetInstance(), obj->GetImpl()), _obj(obj)
{
#if $interface.methods
    typedef void (${interface.prov_class}::* MethodMember)(const ajn::InterfaceDescription::Member *, ajn::Message &);

#end if
    datadriven::ProvidedObject::MethodCallbacks callbacks [] = {
#for $method in $interface.methods
        datadriven::ProvidedObject::MethodCallbacks(Type::METHOD_${method.name.upper()}, static_cast<MessageReceiver::MethodHandler>((MethodMember)&${interface.prov_class}::${method.name})),
#end for
    };

    this->_status = _obj->AddProvidedInterface(this, callbacks, sizeof(callbacks)/sizeof(callbacks[0]));
}

${interface.prov_class}::~${interface.prov_class}()
{
    this->_obj->RemoveProvidedInterface(this);
}
#for $property in $interface.properties
    #if $property.is_readable() and $GenCPP.get_property_emits($property) == 'EmitChangesSignal::INVALIDATES'

QStatus ${interface.prov_class}::Invalidate${property.name}()
{
    return InvalidateProperty("${property.name}");
}
    #end if
#end for

QStatus ${interface.prov_class}::MarshalProperties()
{
    QStatus _status = ER_OK;

    do {
#if GenCPP.emitted_properties($interface.properties)
        std::map<qcc::String, PropertyValue*>::iterator _it;
#end if
#for $property in GenCPP.emitted_properties($interface.properties)
        _it = marshaledProperties.find("${property.name}");
        if (marshaledProperties.end() == _it) {
            _status = ER_BUS_NO_SUCH_PROPERTY;
            break;
        }
        if (ER_OK != (_status = datadriven::Marshal(_it->second->msgArg, ${property.name}))) break;
#end for
    } while (0);
    return _status;
}

QStatus ${interface.prov_class}::DispatchSetProperty(const char* _name, ajn::MsgArg& _value)
{
    QStatus _status = ER_BUS_NO_SUCH_PROPERTY;

    do {
#for $property in $interface.properties
    #if $property.is_writeable()
        if (qcc::String(_name) == "${property.name}") {
            ${GenCPP.cpp_type($property)} ${property.name};

            _status = datadriven::Unmarshal(${property.name}, _value);
            if (ER_OK == _status) {
                _status = Set${property.name}(${property.name});
            }
            break;
        }
    #end if
#end for
    } while (0);
    return _status;
}

QStatus ${interface.prov_class}::DispatchGetProperty(const char* _name, ajn::MsgArg& _value) const
{
    QStatus _status = ER_BUS_NO_SUCH_PROPERTY;

    do {
#for $property in $interface.properties
    #if $property.is_readable() and $GenCPP.get_property_emits($property) != 'EmitChangesSignal::ALWAYS'
        if (qcc::String(_name) == "${property.name}") {
            ${GenCPP.cpp_type($property)} ${property.name};

            _status = Get${property.name}(${property.name});
            if (ER_OK == _status) {
                _status = datadriven::Marshal(_value, ${property.name});
                _value.Stabilize(); //TODO: to be verified for different types
            }
            break;
        }
    #end if
#end for
    } while (0);
    return _status;
}
#for $method in $interface.methods
    #set $argsin = $method.get_args_for_direction('in')
    #set $argsout = $method.get_args_for_direction('out')
    #if $method.no_reply
        #set $reply = None
    #else
        #set $reply = '_reply'
    #end if

void ${interface.prov_class}::${method.name}(const ajn::InterfaceDescription::Member *_member, ajn::Message& _message)
{
    #if not $method.no_reply
    std::shared_ptr<${method.name}Reply> _reply(new ${method.name}Reply(GetObjectImpl(), _message));
    #end if
    #if $argsin
    const ajn::MsgArg* _msgarg;
    size_t _numArgs;

    _message->GetArgs(_numArgs, _msgarg);
    if (${len($argsin)} != _numArgs) {
        this->_status = ER_BAD_ARG_COUNT;
    }
    else {
        do {
        #for $arg in $argsin
            ${GenCPP.cpp_type($arg)} ${arg.name};
        #end for

${u.Util.argarray_unmarshal($argsin, '_msgarg', 'this->_status')}#slurp
            this->${method.name}(${GenCPP.names_csv($argsin, extra=$reply)});
            #if not $method.no_reply
            _reply.reset();
            #end if
        } while (0);
    }
    #else

    this->${method.name}($reply);
    #end if
}
    #if not $method.no_reply
${interface.prov_class}::${method.name}Reply::${method.name}Reply(std::shared_ptr<datadriven::ProvidedObjectImpl> object, ajn::Message& message) :
    datadriven::ProviderMethodReply(object, message)
{
}

QStatus ${interface.prov_class}::${method.name}Reply::Send(${GenCPP.args_string($argsout)})
{
    ajn::MsgArg _msgarg[${len($argsout)}];
    QStatus _status = ER_FAIL;

    do {
${u.Util.argarray_marshal($argsout, '_msgarg', '_status')}#slurp
        _status = MethodReply(_msgarg, ${len($argsout)});
    } while (0);
    return _status;
}
    #end if
#end for
#for $signal in $interface.signals

QStatus ${interface.prov_class}::${signal.name}(${GenCPP.args_string($signal.args)})
{
    ajn::MsgArg _msgarg[${len($signal.args)}];

    do {
${u.Util.argarray_marshal($signal.args, '_msgarg', 'this->_status')}#slurp
        this->_status = EmitSignal(Type::SIGNAL_${signal.name.upper()}, _msgarg, ${len($signal.args)});
    } while (0);

    return _status;
}
#end for

}}
